{if count($fileList)}
    <ul>

    {foreach from=$fileList key="fileName" item="errorsList"}

    <li>{$fileName}</li>
    <ul>
        {if is_array($errorsList)}
            {foreach from=$errorsList item="e"}
            <li>
                {xref_severity_str severity=$e->severity html=true}
                (<a href="https://github.com/gariev/xref/blob/master/README.md#{$e->errorCode}">{$e->errorCode}</a>): {$e->message}
                {if $e->lineNumber} at
                    {if $e->sourceUrl}
                        <a href="{$e->sourceUrl}">line {$e->lineNumber}</a>
                    {else}
                        {* plain text if no source-url or script-url are configured *}
                        line {$e->lineNumber}
                    {/if}
                {/if}
            </li>
            {/foreach}
        {else}
            <li>{$errorsList}</li>
        {/if}
    </ul>

    {/foreach}

    </ul>

{else}
    No errors found
{/if}
