<html>
<head><link type='text/css' rel='stylesheet' href='xref.css'></head>
<body>

{assign var=configKey value='project.name' }
{assign var=projectName value=$config.$configKey }
<h1>XRef report {if $projectName}({$projectName}){/if}</h1>

<ul>
{foreach from=$reports key="name" item="url"}
    <li><a href='{$url}'>{$name|escape:'html'}</a>
{/foreach}
</ul>

Total files: {$numberOfFiles}, total lines of code: {$numberOfCodeLines}, report generated on {$date} by xref-doc v. {$version}

</body>
</html>

