<html>
<link type='text/css' rel='stylesheet' href='{$root}xref.css'>
<body>

<h1>{$title} {$c->name}</h1>

{include file="include-files-list.tmpl"     title="Declared At"     fileList=$c->declaredAt                             }
{include file="include-files-list.tmpl"     title="Used at"         fileList=$c->usedAt                                 }

Back to <a href='{xref_report_link reportId=$reportId root=$root}'>{$reportName}</a>"

</body>
</html>
