{assign var=configKey value='xref.script-url' }

{if count($fileList)}
    <ul>

    {foreach from=$fileList key="fileName" item="errorsList"}

    <li>{$fileName}</li>
    <ul>
        {if is_array($errorsList)}
            {foreach from=$errorsList item="e"}
            <li>
                {xref_severity_str severity=$e->severity html=true}
                (<a href="https://github.com/gariev/xref/blob/master/README.md#{$e->errorCode}">{$e->errorCode}</a>):
                {$e->message} ({$e->tokenText})
                {if $e->lineNumber} at
                    {if isset($lintDocReport)}
                        {* Link from xref report leads to cross-ref documentation page *}
                        <a href='{xref_report_link reportId="files" itemName=$fileName root=$root lineNumber=$e->lineNumber}'>line {$e->lineNumber}</a>
                    {elseif isset($config.$configKey)}
                        {* Link from from CI report sent by mail leads to to web-script if any is defined *}
                        <a href="{$config.$configKey}/view-source.php?revision={$revision}&filename={$fileName}#{$e->lineNumber}">line {$e->lineNumber}</a>
                    {else}
                        {* plain text if no web-scripts are configured *}
                        line {$e->lineNumber}
                    {/if}
                {/if}
            </li>
            {/foreach}
        {else}
            <li>{$errorsList}</li>
        {/if}
    </ul>

    {/foreach}

    </ul>

{else}
    No errors found
{/if}
